body {
    margin: 10px 0 0 20px;
}

label {
    display: flex;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.displayBooks {
    display: flex;
    flex-direction: column;
}

.book {
    position: relative;
    min-height: 120px;
    min-width: 300px;
    max-height: 200px;
    max-width: 600px;
    border: 5px solid rgb(0, 150, 150);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}

.btnDelete {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: black;
    height: 40px;
    width: 40px;
    border: 2px solid black;
    background-color: red;
    border-radius: 5px;
}

.btnStatus {
    position: absolute;
    right: 50px;
    bottom: 5px;
    font-size: 16px;
    color: black;
    height: 40px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
}

.btnStatus:hover {
    background-color: yellow;
}

.newBook, .btnShowBooks {
    margin: 8px;
    font-size: 14px;
    height: 40px;
    width: 120px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(255, 150, 0);
}
